<!DOCTYPE html>

<html>
  <head>
    <title>Timestamper</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="header">
      <h1>Timestamper</h1>
      <h2>The simplest microservice imaginable</h2>
    </div>
    <!-- <hr /> -->
    <div class="body-container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2021-01-14</a></li>
        <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1610667791518</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1610667791518, "utc":"Thu, 14 Jan 2021 23:43:11 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>By <a href="https://www.gerardkeane.xyz/">Gerard Keane</a></p>
    </div>
  </body>
</html>
